<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Semester 1">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>sem</title>
    <link rel="stylesheet" href="{{url_for('static', filename='one/style.css')}}" media="screen">
    <link rel="stylesheet" href="{{url_for('static', filename='one/sem.css')}}" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="sem">
    <meta property="og:type" content="website">
  </head>
  <body data-home-page="sem.html" data-home-page-title="sem" class="u-body u-xl-mode">
    <section class="u-clearfix u-section-1" id="sec-0f33">
      <div class="u-container-style u-expanded-width u-group u-palette-3-base u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h1 class="u-align-center u-text u-text-body-alt-color u-text-default u-text-1">Semester 1</h1>
        </div>
      </div>
    </section>
  </body>
</html>